
.polotno-loading[data-v-c6fcd93e] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #888;
  z-index: 1;
}
.polotno-iframe[data-v-c6fcd93e] {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.p-dialog-content {
  flex: 1;
  overflow: hidden;
  padding: 0 !important;
}
